*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #003366; 
}

#conatiner{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    background-color: white;
}

.title{
    font-family: Arial, sans-serif;
    color: #004080; 
    text-transform: capitalize;
}

form p{
    font-size: 1rem;
    margin-bottom: 20px;
    color: #004080; 
    font-weight: bold;
}

.signupform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #99d6ff; 
    background-color: #f0fcff; 
    font-size: 1rem;
}

input[type="submit"]{
    background-color: rgb(5, 175, 242);
    color: white;
    padding: 10px 0;
    
}

input[type="submit"]:hover{
    background-color: skyblue;
    color: blanchedalmond;
    transition: 100ms;
}

form p a{
    text-decoration: none;
    color: blue;
}

form p a:hover{
    background-color: skyblue;
    color: rgb(113, 95, 220);
    transition: 2s;
    border-radius: 2px;
}

